
@media screen and (max-width: 600px) {
  .content{
    flex-direction: column;
    gap:10px !important;
    margin: 20px 0px !important;
    width: 100% !important;

  }
  .imgContainer{
    width: 100%;

  }
  .form{
    width: 100%;
  }
  

}

.contactFullPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 50px;
  margin: 20px 0px;
  text-align: center;
  color: inherit;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px 0px;
  gap: 50px;
}

.imgContainer {
  position: relative;
  display: flex;
  justify-content: center;
}

.image {
  object-fit: contain;
  height: 100%;
  max-width: 400px;
  animation: move 6s infinite ease alternate;
}

.form {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input,
.textArea {
  padding: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
  
  border: 2px solid #cbcbcb;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}

.button{
  padding: 5px;
  color: white;
  font-size: large;
  background-color: var(--primary-color);
  border: none;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover{
  background-color: var(--primary-selected);
}

@keyframes move {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px) scale(1.03);
  }
}