
@media screen and (max-width: 600px) {

  .main {
    padding: 10px !important;
  }

  .imageContainer{
    width: 100%;
    justify-content: flex-end !important;
    padding-right: 30px;
  }

  .textContainer{
    transform: translate(0px, -60px);
  }
  .title{
    transform: translate(0px, -35px);
  }

  .featureImage{
    width: 100px !important;

  }

  .title{
    margin-bottom: 10px !important;
    background: linear-gradient(to bottom,grey,#e3e3e3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .landingPage{
    flex-direction: column
    }

  .textContainer{
   font-size: small !important;
   margin: 10px 0px !important;
  }



}

.main {
  display: flex;
  margin:0 auto;
  padding: 0 80px;
  max-width: 1300px;
}

.featureImage{
  display: flex;
  object-fit: cover;
  width: 300px;
  height: auto;

  transform: translatey(0px);
	animation: floatup 5s ease-in-out infinite;
}

.landingPage{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* gap: 50px; */
  /* height: 100vh; */
}

.imageContainer{
  display: flex;
  justify-content: center;
  flex:1;
}
.textContainer{
  display: flex;
  flex-direction: column;
  flex:1;
  margin: 50px 0px;
  gap: 10px;
  min-width: 200px;
}

.title{
  margin-bottom: 30px;
  background: linear-gradient(to bottom,grey,#e3e3e3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subTitle{
  font-size: larger;
  line-height: 1.5;
}

.linkButton{
  display: flex;
  justify-content: center;
  font-weight: 500;
  align-items: center;
  padding: 5px;
  color: white;
  background-color: var(--primary-color);
  border: none;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  max-width: 180px;
}

.linkButton:hover{
 background-color: var(--primary-selected);
 transform: translate(0px, -2px);
}


@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .center {
    padding: 8rem 0 6rem;
  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}


@keyframes floatup {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

