

@media screen and (max-width: 680px) {
  .accountFullpage {
    padding: 15px !important;
  }

  
}

.accountFullpage{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.accountInfo{
  display: flex;
  flex-direction: column;
  gap: 20px;
}