@media screen and (max-width: 768px) {
  .post {
    /* width: 90% !important; */
  }
  .postsList{
    width: 100% !important;
    max-width: none !important;
  }
}


.blogPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; 
}

.postsList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  gap: 0px;
  margin: 20px 0px;
}

a.post {

  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  gap: 30px;
}

.post:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.image{
  object-fit: cover;
  height: 100px;
  width: 100px;
}

.info {
  display: flex;


  flex: 1;
  flex-direction: column;
}

h1.title{
 
  margin-bottom: 5px;
  width: 100%;
  font-size: large;
  color: inherit;
  font-weight: 600;
  white-space: pre-wrap;

}

time.date{
  color: var(--primary-color);
}

.summary{

  margin:10px 0px
}

p.author{
  
  font-size: small;
}