@media screen and (max-width: 768px) {
  .post {
    width: 90% !important;
  }
}


.blogPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; 
}

.postsList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin: 50px 0px;
}

.post {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  gap: 30px;
}

.post:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.image{
  object-fit: cover;
  height: 100px;
  width: 100px;
}

.info {
  display:flex;
  flex-direction: column;
}

.title{
  all: unset;
  margin-bottom: 5px;
  width: 100%;
  color: inherit;
  font-weight: 600;
  white-space: pre-wrap;

}

.date{
  color: var(--primary-color);
}

.summary{
  font-size: 18px;
  color: #999;
  all: unset;
  margin: 10px 0px;

  font-size: large;
  color: inherit;

  padding: 0;
  max-width: 170px;
  overflow: hidden;
  position: relative;
  display: inline-block;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.author{
  
}